<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CYBER.ME | CREATE YOU CYBERPUNK AVATAR</title>
    <meta property="og:title" content="Cyberme สร้าง Avatar ของคุณในยุค Cyberpunk">
    <meta property="og:description"
        content="Cyberme เป็นแคมเปญ AI ยุค Cyberpunk สร้าง Avatar ของคุณ โดย มหาวิทยาลัยธุรกิจบัณฑิตย์ Open House 2025 สมัครเรียนได้แล้วที่ ANT DPU">
    <meta property="og:image" content="https://cyberme.vercel.app/images/facebook.png">
    <meta property="og:url" content="https://cyberme.vercel.app">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Cyberme">

    <!-- Twitter Card Meta Tags (Optional) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cyberme - สร้าง Avatar ของคุณในยุค Cyberpunk">
    <meta name="twitter:description"
        content="Cyberme เป็นแคมเปญ AI ยุค Cyberpunk สร้าง Avatar ของคุณ โดย มหาวิทยาลัยธุรกิจบัณฑิตย์ Open House 2025 สมัครเรียนได้แล้วที่ ANT DPU">
    <meta name="twitter:image" content="https://cyberme.vercel.app/images/facebook.png">

    <meta name="description"
        content="Cyberme เป็นแคมเปญ AI ยุค Cyberpunk สร้าง Avatar ของคุณ โดย มหาวิทยาลัยธุรกิจบัณฑิตย์ Open House 2025 สมัครเรียนได้แล้วที่ ANT DPU">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
</head>

<body class="cyberme-bg">
    <div class="container">
        <div class="logo"><img src="/images/logo.png" /></div>
        <div class="logo-mobile"><img src="/images/logo-mobile.png" /></div>
        <div class="btn-group frame-padding">
            <button onclick="window.location.href='/signin'">BEGIN</button>
            <button onclick="window.location.href='/people'">OTHER PEOPLE</button>
        </div>
    </div>
</body>

</html>